rust_files/*

!rust_files/runds.sh
!rust_files/oxide

rust_files/oxide/*

!rust_files/oxide/config
!rust_files/oxide/data

rust_files/oxide/data/*

!rust_files/server

rust_files/server/feudal/*

!rust_files/server/feudal/cfg
!rust_files/server/feudal/*.db

rust_files/server/feudal/sv.files*
rust_files/server/feudal/player.states*
