[Unit]
Description=Rust Dedicated Server
After=network.target

[Service]
Type=simple
User=rust
WorkingDirectory=/home/rust/rust_server/rust_files
ExecStart=/home/rust/rust_server/rust_files/runds.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
